/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2/11/2014, 07:12:18 PM
    Author     : cesar
*/
.cont-navbar{
    border-right: 1px solid #ddd;
}
.cont-navbar>.nav-tabs > li> a {
    background-color: #F2F2F2;
    color:#555;
}
.cont-navbar>.nav-tabs > li.active > a {
    background-color: #FFFFFF !important;
}
.tab-files{
    width: 50%;

}
.tab-files>a{
    margin-right: 0px !important;
    border-radius: 0px !important;
}
